body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: inherit;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: 0;
    color: #303030;
    color: #212121;
    margin: 0;
    background: #fafafa;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

#ui-page {
    min-height: 100vh;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    z-index: 0;
    position: relative;
}

#ui-category, #ui-content {
}

#ui-category {
    width: 300px;
    background-color: #eee;
    /* border-right: 1px solid #ccc; */
}

#ui-content {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    background-color: #eee;
    /* padding-top: 2px; */
}

#ui-tabs {
    width: 350px;
    background-color: #eee;
}


/* OL LI */
ol {
    display: table;
    width: 100%;
    height: 32px;
    position: relative;
    padding: 0;
    margin: 0;
}

    ol li {
        list-style: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }

        ol li i {
            color: #555;
            float: left;
        }

        ol li:hover b, ol li:hover i {
            color: orange;
        }

        ol li b {
            color: #000;
            font-weight: normal;
            font-size: 0.8em;
            display: inline-block;
            line-height: 18px;
            float: left;
            margin-top: 2px;
        }


/* PLAYER */

details.player-config summary i:before {
    content: "\f43c";
}

details.player-config summary {
    text-align: right;
}

    details.player-config summary::-webkit-details-marker {
        display: none;
    }

details.player-config {
    position: absolute;
    z-index: 999;
    top: 32px;
    width: 175px;
    cursor: pointer;
    right: 10px;
    padding: 3px 8px 8px 8px;
    font-size: 0.9em;
}

    details.player-config label {
        font-size: 0.9em;
    }

details[open].player-config {
    background-color: #fff;
    border: 1px solid #ccc;
}

details.player-config input {
    width: 45px;
    padding: 3px;
    margin: 4px 0 0 0;
}




/* MOD-ALERT */
.mod-alert {
}

    .mod-alert .dx-modal {
        z-index: 999999998;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .mod-alert .dx-content {
        z-index: 999999999;
        min-width: 50%;
    }

    .mod-alert h3 {
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
    }

    .mod-alert p {
        text-align: center;
        padding-right: 5px;
    }

    .mod-alert .dx-footer {
        text-align: center;
    }

        .mod-alert .dx-footer button {
            width: 99px;
            color: white;
            background-color: #4CAF50;
        }

/* MOD-LOGIN */
.mod-login {
}

    .mod-login h3 {
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
    }

    .mod-login table tr td:first-child {
        text-align: right;
        padding-right: 5px;
    }

    .mod-login input {
        width: 100%;
        padding: 9px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

/* MAIN: LAYOUT */
#layout {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

details[open] {
    min-height: 40px;
}


    details[open] summary {
        font-weight: bold;
        color: orangered;
    }

details:not([open]) summary {
    font-weight: normal;
    color: #333;
}


details summary {
    cursor: pointer;
    font-size: 0.9em;
    line-height: 17px;
    padding: 0 0 8px;
    margin: 0;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

    details summary::-webkit-details-marker {
        color: #bbb;
        height: 11px;
        width: 11px;
        padding: 0 1px 0 0;
        margin: 0;
    }

details details {
    margin: 0 0 0 15px;
    padding: 0;
}

details p:before {
    content: "\e007";
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #bbb;
    padding-right: 1px;
    left: 0;
}

details p {
    padding: 0 0 5px 15px;
    margin: 0;
    line-height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

    details p:hover, details p.active {
        color: blue;
        cursor: pointer;
    }

    details p.loading:before {
        content: "";
        font-family: Arial, Helvetica, sans-serif;
    }

    details p.loading {
        width: 24px;
        height: 24px;
        margin-left: 40%;
        margin-top: 10px;
        padding: 0;
    }

/* ARTICLE */
nav {
    background-color: #999;
    padding-top: 0;
    height: 29px;
}

article {
    position: absolute;
    width: 100%;
    height: calc(100% - 49px);
    overflow-y: auto;
    padding: 10px 0;
    bottom: 0;
    overflow-x: hidden;
    display: inline-block;
    background-color: #fff;
}

    article h2, article h3, article p, article span, article ul {
        padding-left: 20px;
        padding-right: 20px;
        display: inline-block;
        width: calc(100% - 40px);
        /* background-color:  blue; */
        /* margin: 10px 0; */
    }

    article h2 {
        padding-bottom: 24px;
    }

        article h2, article h2 b, article h2 b i {
            font-weight: 500;
            font-size: 1.3em;
        }

    article h3 {
        padding-bottom: 11px;
        margin-top: 24px;
    }

        article h3, article h3 b, article h3 b i {
            font-weight: 500;
            font-size: 1.1em;
        }

    article ul {
        padding-bottom: 11px;
        padding-left: 50px;
        width: calc(100% - 50px);
    }

        article ul li {
        }

    article pre {
        overflow-x: auto;
        overflow-y: hidden;
        font: 14px/20px Roboto Mono,monospace;
        margin: 16px 0;
        overflow-x: auto;
        padding: 8px;
        position: relative;
        background-color: #eee;
        color: #37474f;
    }

    article a {
        font-weight: normal;
        font-size: 0.9em;
        padding-left: 20px;
        font-style: italic;
        color: #ccc;
    }

    article span:before {
        display: inline-block;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-weight: normal;
        font-stretch: normal;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        width: 1em;
        content: "\f4b3";
        font-family: "Ionicons";
    }

    article span {
        background: #e1f5fe;
        color: #0288d1;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 17px 0;
    }

    article p {
        margin: 10px 0;
    }

    article b {
        font-weight: normal;
    }

    article em {
    }

    article i, ol li, input[type="checkbox"] + label {
        font-style: normal;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
        cursor: pointer;
    }

    ._READING {
        background-color: yellow !important;
    }

/* LIST CHECKBOX */

.list-checkbox {
    list-style-type: none;
}

    .list-checkbox li:hover {
        background-color: orange;
    }

    .list-checkbox li.check {
        background-color: yellow;
    }

    .list-checkbox li {
        list-style: none;
        clear: both;
        width: 100%;
        /* background: #fff; */
        margin: 0;
        padding: 0;
        display: inline-block;
        /* height: 27px; */
        overflow: hidden;
        float: left;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        color: #333;
        padding-top: 2px;
    }

        .list-checkbox li i:before {
            /*content: "\f372";"\f373"*/
            font-weight: normal;
        }

        .list-checkbox li.check i:before {
            content: "\f383";
            font-weight: normal;
            color: #666;
        }

        .list-checkbox li i {
            float: left;
            width: 25px;
            height: 24px;
            color: #ccc;
            margin-top: 1px;
            cursor: pointer;
        }

        .list-checkbox li label {
            float: left;
            height: 20px;
            font-size: 0.8em;
            font-style: normal;
            font-weight: bold;
            display: inline-block;
            min-width: calc(100% - (40% + 54px));
            cursor: pointer;
        }

        .list-checkbox li.check em, .list-checkbox li:hover em {
            color: #333;
        }

        .list-checkbox li span {
            float: left;
            height: 20px;
            font-size: 0.8em;
            /* font-style: normal; */
            font-weight: normal;
            display: inline-block;
            min-width: 40%;
            color: #111;
            cursor: pointer;
        }

        .list-checkbox li em {
            float: left;
            height: 20px;
            font-size: 0.8em;
            /* font-style: normal; */
            font-weight: normal;
            display: inline-block;
            min-width: 40%;
            color: #eee;
            cursor: pointer;
        }

        .list-checkbox li b {
            float: left;
            border: 1px solid #ccc;
            padding: 0px 1px 0px;
            border-radius: 50%;
            font-weight: normal;
            font-size: 0.7em;
            width: 20px;
            text-align: center;
            height: 19px;
            line-height: 19px;
            margin-top: 2px;
            margin-right: 2px;
            background-color: #f4f4f4;
            cursor: pointer;
        }

/* TAB */
.tab-header {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #999;
    text-align: right;
}

    /* Style the buttons that are used to open the tab content */
    .tab-header button {
        background-color: inherit;
        /* float: left; */
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 5px;
        transition: 0.3s;
        height: 29px;
        font-size: 0.8em;
    }

        /* Change background color of buttons on hover */
        .tab-header button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab-header button.active {
            background-color: #eee;
        }

/* Style the tab content */
.tab-content {
    display: none;
    /* padding: 6px 12px; */
    border-top: none;
}

#tab_grammar ul li span {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    text-transform: capitalize;
    font-weight: bold;
    width: calc(100% - 32px);
}

.grammar_detail {
    clear: both; /* display:  inline-block; */
    padding: 5px 0 5px 35px;
    background-color: #fff;
    font-size: 0.9em;
}

    .grammar_detail h3 {
        font-size: 0.9em;
        font-weight: bold;
        color: orange;
        line-height: 16px;
    }

    .grammar_detail h5 {
        font-size: 0.9em;
        color: #999;
    }

    .grammar_detail p {
        line-height: 19px;
    } 

    .grammar_detail a {
        
    } 
