body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: inherit;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: 0;
    color: #303030;
    color: #212121;
    margin: 0;
    background-color: #fcfcfc;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}

#ui-page {
    min-height: 100vh;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
    z-index: 0;
    position: relative;
    padding: 0;
}

#ui-category {
    width: 250px;
    border-right: 1px solid #eee;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100vh;
    position: relative;
}

#ui-content {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    padding: 0;
}

#ui-tabs {
    width: calc(100% - 1000px);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    position: relative;
    max-width: 800px;
    min-width: 350px;
}

/* TOOLBAR */
ul.toolbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: inline-block;
    /* background-color: #f9f9f9; */
    height: 24px;
    /* border-bottom: 1px solid #ccc; */
    /* height: 29px; */
}

    ul.toolbar li {
        float: left;
        padding: 0;
        margin: 0;
    }

        ul.toolbar li button {
            padding: 0;
            margin: 0;
            height: 24px;
            width: 32px;
            background-color: transparent;
            cursor: pointer;
            color: #333;
            font-size: 1.2em;
            line-height: 16px;
            border-top: none;
            border-bottom: none;
            border-right: none;
            border-left: none;
        }

            ul.toolbar li button:hover {
                background-color: orange;
            }

/* DETAIL - TREE */


._READING {
    background-color: yellow !important;
}

#tab_word table tr td:nth-child(2) {
    font-weight: bold;
}

#tab_word table tr td {
    border-bottom: 1px solid #ccc;
}

ul li.file.active {
    background-color: transparent;
    font-weight: bold;
    color: orangered;
    font-size: 0.9em;
}
