#___module_id {
}

    #___module_id .table-master-detail {
        width: 100%;
        border: 0;
        border-collapse: separate;
        border-spacing: 0;
    }

        #___module_id .table-master-detail tr.detail {
            display: none;
        }

            #___module_id .table-master-detail tr.detail td {
                border-top: 1px solid #aaa;
                border-bottom: 1px solid #eee;
                padding: 0;
                background-color: #fff;
                width: 100%;
            }

                #___module_id .table-master-detail tr.detail td img.loading {
                    width: 100%;
                }

                #___module_id .table-master-detail tr.detail td ul {
                    max-height: 350px;
                    /* display: inline-block; */
                    overflow-x: hidden;
                    /* background-color:  red; */
                    overflow-y: auto;
                }

                    #___module_id .table-master-detail tr.detail td ul li {
                        list-style: circle;
                        cursor: pointer;
                        border-bottom: 1px solid #eee;
                        line-height: 19px;
                        padding: 2px 3px 7px 32px;
                        clear: both;
                        display: inline-block;
                        width: calc(100% - 35px);
                    }

                        #___module_id .table-master-detail tr.detail td ul li i,
                        #___module_id .table-master-detail tr.detail td ul li d {
                            font-style: normal;
                            font-weight: normal;
                        }

                            article i.sel,
                            #___module_id .table-master-detail tr.detail td ul li i.sel,
                            #___module_id .table-master-detail tr.detail td ul li d.sel {
                                border-bottom: 1px solid orangered;
                            }

        #___module_id .table-master-detail tr {
            border: 0;
        }

            #___module_id .table-master-detail tr td {
                position: relative;
                border: 0;
                font-size: 0.9em;
                border-bottom: 1px solid #ddd;
            }

                #___module_id .table-master-detail tr td.w {
                    text-transform: capitalize;
                    font-weight: bold;
                }

                #___module_id .table-master-detail tr td.wd {
                    text-align: center;
                    color: #aaa;
                    cursor: pointer;
                }

                    #___module_id .table-master-detail tr td.wd:hover {
                        background-color: orange;
                        color: #111;
                    }

                #___module_id .table-master-detail tr td:first-child,
                #___module_id .table-master-detail tr td:last-of-type {
                    width: 32px;
                }

                #___module_id .table-master-detail tr td:first-child {
                }

                #___module_id .table-master-detail tr td:last-of-type {
                }
