<ul class="toolbar">
    <li onclick="___module_id.on_tab_hide_click(this)">
        <i class="fa fa-bars"></i>
    </li>
    <li title="List Words" class="active"><i class="fab fa-wikipedia-w"></i></li>
    <li title="List Sentence"><i class="fab fa-autoprefixer"></i></li>
    <!--<li><a do="tab.on_item_click|tab_word" class="active">Words</a></li>
    <li><a do="tab.on_item_click|tab_reading">Reading</a></li>-->

    <li class="float-right" title="Setting"><i class="fa fa-wrench"></i></li>
    <li class="float-right" title="Next"><i class="fa fa-chevron-right"></i></li>
    <li class="float-right" title="Play"><i class="fa fa-play"></i></li>
    <li class="float-right" title="Prev"><i class="fa fa-chevron-left"></i></li>
    <li class="float-right" title="Repeat"><i class="fa fa-redo"></i></li>
    <li class="float-right" title="Rate Up"><i class="fa fa-sort-numeric-up"></i></li>
    <li class="float-right" title="Rate Down"><i class="fa fa-sort-numeric-down"></i></li>
    <li class="float-right" title="Random"><i class="fa fa-random"></i></li>
</ul>
<div class="tab-items">
    <div id="tab_word" class="tab-content">
    </div>
    <div id="tab_reading" class="tab-content"></div>
</div>