<form name="login">
    <header>
        <h3>Login</h3>
    </header>
    <h5></h5>
    <fieldset>
        <label>Username</label>
        <p><input type="text" placeholder="Enter Username" value="admin" name="username" onchange="___module_id.username_change(event);" /></p>
        <span></span>
    </fieldset>
    <fieldset>
        <label>Password</label>
        <p><input type="password" placeholder="Enter Password" name="password" /></p>
        <span></span>
    </fieldset>
    <footer>
        <button type="submit">Login</button>
    </footer>
</form>