* {
    padding: 0;
    margin: 0;
    font-weight: normal;
}

html,
body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #252525;*/
}

.hide {
    display: none;
}

.border-none {
    border: none !important;
}

.align-center {
    text-align: center !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #ddd;
}

/* INDICATOR */
.loading {
    border: 5px solid #555;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    /*border-bottom: 5px solid orange;*/
    border-top: 5px solid orange;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* INDICATOR */
.dx-indicator {
    /* background-color: #2870d5; */
    overflow: hidden;
    position: fixed;
    z-index: 999999999;
    width: 100%;
    height: 44px;
    bottom: 0;
}

    .dx-indicator label {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        line-height: 30px;
        position: absolute;
        bottom: 11px;
        text-align: center;
        color: #fff;
        font-weight: normal;
        font-size: 1.5em;
        margin: 0;
        padding: 0;
    }

    .dx-indicator ul {
        width: 100%;
        line-height: 30px;
        position: absolute;
        bottom: 1%;
        margin-top: -15px;
        text-align: center;
    }

    .dx-indicator li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: orange;
        border-radius: 100%;
        position: absolute;
        left: -10px;
    }

        .dx-indicator li:nth-child(1) {
            animation: first 7s infinite;
        }

        .dx-indicator li:nth-child(2) {
            animation: second 7s infinite;
            animation-delay: .4s;
        }

        .dx-indicator li:nth-child(3) {
            animation: third 7s infinite;
            animation-delay: .8s;
        }

        .dx-indicator li:nth-child(4) {
            animation: fourth 7s infinite;
            animation-delay: 1.2s;
        }

        .dx-indicator li:nth-child(5) {
            animation: fifth 7s infinite;
            animation-delay: 1.6s;
        }

@keyframes first {
    0% {
        left: -10px;
    }

    25% {
        left: calc(50% + 22px);
    }

    50% {
        left: calc(50% + 22px);
    }

    75% {
        left: calc(100% + 10px);
    }

    100% {
        left: calc(100% + 10px);
    }
}

@keyframes second {
    0% {
        left: -10px;
    }

    25% {
        left: calc(50% + 11px);
    }

    50% {
        left: calc(50% + 11px);
    }

    75% {
        left: calc(100% + 10px);
    }

    100% {
        left: calc(100% + 10px);
    }
}

@keyframes third {
    0% {
        left: -10px;
    }

    25% {
        left: 50%;
    }

    50% {
        left: 50%;
    }

    75% {
        left: calc(100% + 10px);
    }

    100% {
        left: calc(100% + 10px);
    }
}

@keyframes fourth {
    0% {
        left: -10px;
    }

    25% {
        left: calc(50% - 11px);
    }

    50% {
        left: calc(50% - 11px);
    }

    75% {
        left: calc(100% + 10px);
    }

    100% {
        left: calc(100% + 10px);
    }
}

@keyframes fifth {
    0% {
        left: -10px;
    }

    25% {
        left: calc(50% - 22px);
    }

    50% {
        left: calc(50% - 22px);
    }

    75% {
        left: calc(100% + 10px);
    }

    100% {
        left: calc(100% + 10px);
    }
}

/* DIALOG */
dialog:not([open]) {
    display: none;
}

dialog[open] {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    display: table;
    background-color: transparent;
}

.dx-popup {
    display: table-cell;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    vertical-align: middle;
}

    .dx-popup .dx-modal {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .dx-popup .dx-content {
        padding: 16px;
        display: inline-block;
        background-color: #fff;
        z-index: 1;
        position: relative;
        border: 1px solid #888;
    }

    .dx-popup .dx-footer {
        text-align: right;
    }

        .dx-popup .dx-footer button {
            color: white;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            /*background-color: #4CAF50;*/
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

            .dx-popup .dx-footer button:hover {
                opacity: 0.8;
            }

            .dx-popup .dx-footer button[disabled] {
                opacity: 0.4;
            }

                .dx-popup .dx-footer button[disabled]:hover {
                    cursor: not-allowed;
                }

    .dx-popup .close {
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        right: 0;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
        width: 32px;
    }

        .dx-popup .close:hover,
        .dx-popup .close:focus {
            color: red;
            cursor: pointer;
        }

/* MOD-ALERT */
.mod-alert {
}

    .mod-alert .dx-modal {
        z-index: 999999998;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .mod-alert .dx-content {
        z-index: 999999999;
        min-width: 50%;
    }

    .mod-alert h3 {
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
    }

    .mod-alert p {
        text-align: center;
        padding-right: 5px;
    }

    .mod-alert .dx-footer {
        text-align: center;
    }

        .mod-alert .dx-footer button {
            width: 99px;
            color: white;
            background-color: #4CAF50;
        }

/* MOD-LOGIN */
.mod-login {
}

    .mod-login h3 {
        font-weight: bold;
        padding: 10px 0;
        text-align: center;
    }

    .mod-login table tr td:first-child {
        text-align: right;
        padding-right: 5px;
    }

    .mod-login input {
        width: 100%;
        padding: 9px 10px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

/* MAIN: LAYOUT */
#layout {
    z-index: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

details[open] {
    min-height: 40px;
}


    details[open] summary {
        font-weight: bold;
        color: orangered;
    }

details:not([open]) summary {
    font-weight: normal;
    color: #333;
}


details summary {
    cursor: pointer;
    font-size: 0.9em;
    line-height: 17px;
    padding: 0 0 8px;
    margin:0;
}

details summary::-webkit-details-marker { 
  color: #bbb;
  height: 11px;
  width: 11px;
  padding:0 1px 0 0;
  margin:0;  
}
 
details details {
    margin: 0 0 0 15px;
    padding: 0;
}

details p:before {
    content: "\e007";
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #bbb;
    padding-right: 1px;
    left: 0;
}

details p {
    padding: 0 0 5px 15px;
    margin: 0;
    line-height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

    details p:hover, details p.active {
        color: blue;
        cursor: pointer;
    }

    details p.loading:before {
        content: "";
        font-family: Arial, Helvetica, sans-serif;
    }

    details p.loading {
        width: 24px;
        height: 24px;
        margin-left: 40%;
        margin-top: 10px;
        padding: 0;
    }


/* TAB - TREE */
#ui_main_id, .ui_tab_item, .dx-article-content, .dx-article-content-tabs {
    position: relative;
    display: inline-block;
    height: 100%;
    background: #fff;
}

.dx-article-content {
    float: left;
    overflow: scroll;
    padding: 0 10px;
    width: 70%;
    margin-top: 0px;
    border-right: 1px solid #ccc;
}

.dx-article-content-tabs {
    float: right;
    overflow: scroll;
    padding: 0;
    width: 30%;
    margin-top: 0;
}

    .dx-article-content-tabs ul.nav-tabs li a {
        border-radius: 0;
    }

.dx-article-content h3 {
    /*font: 400 20px/32px Roboto,sans-serif;
        margin: 32px 0 16px;*/
    text-overflow: ellipsis;
    border-bottom: 1px solid #ebebeb;
    font: 300 24px/32px Roboto,sans-serif;
    letter-spacing: -.01em;
    margin: 40px 0 20px;
    padding-bottom: 3px;
}

.dx-article-content p {
    font: 400 20px/32px Roboto,sans-serif;
    font-size: 1.2em;
}

.dx-article-content aside:before {
    content: "\e006";
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 1px;
    left: 0;
}

.dx-article-content p.note {
    text-align: justify;
    background: #e1f5fe;
    color: #0288d1;
    display: block;
    font-size: 14px;
    padding: 12px 24px;
    margin: 24px 0;
}

.dx-article-content em {
    width: 100%;
    text-align: right;
    display: inline-block;
    color: #ccc;
}

.dx-article-content pre {
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    width: auto;
    padding: 5px;
    background-color: #eee;
    margin: 24px 0;
}

.dx-article-content .g_s {
    display: table;
    margin-bottom: 17px;
}

    .dx-article-content .g_s .s_s {
        display: table-cell;
        height: auto;
        width: auto;
    }

        .dx-article-content .g_s .s_s i {
            font-style: normal;
            font-size: 1.2em;
        }

    .dx-article-content .g_s b {
        display: table-cell;
        height: 100%;
        width: 24px;
        background-color: #f2f2f2;
        cursor: pointer;
    }

        .dx-article-content .g_s b:hover {
            background-color: yellow;
        }

        .dx-article-content .g_s b:before {
            content: "\e035";
            position: relative;
            left: 5px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            vertical-align: middle;
            text-align: center;
        }

.label_message_player {
    padding: 3px 10px 5px !important;
    background-color: orangered;
    color: #fff;
    min-width: 200px;
    text-align: center;
    display: none;
}

i[do="___speakw"] {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

i[do] {
    cursor:pointer;
}

    i[do="s_paragraph"]:after {
        content: "\e122";
        color: #ddd;
        padding-right: 3px;
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

i[do="s_w_in_pg"]:before {
    content: "\e035";
    padding-right: 10px;
    color: #ddd;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
