<ul class="toolbar">
    <li><button>&#9776;</button></li>
    <li><button>&#9658;</button></li>
    <li><button>&#10074;&#10074;</button></li>

    <li><button>&#9744;</button></li>
    <li><button>&#9745;</button></li>

    <li><button>&#10697;</button></li>
    <li><button>&#9993;</button></li>
    <li><button>&#9998;</button></li>
    <li><button>&#10687;</button></li>
    <li><button>&#10686;</button></li>
    <li><button>&#9872;</button></li>
    <li><button>&#9873;</button></li>
    <li><button>&#9874;</button></li>
    <li><button>&#9888;</button></li>
    <li><button>&#9919;</button></li>
    <li><button>&#9937;</button></li>
    <li><button>&#10005;</button></li>
    <li><button>&#10003;</button></li>
    <li><button>&#10011;</button></li>
    <li><button>&#10560;</button></li>
    <li><button>&#10006;</button></li>
    <li><button>&#8621;</button></li>
    <li><button>&#9738;</button></li>
    <li><button>&#10663;</button></li>
    <li><button>&#10227;</button></li>
    <li><button>&#9655;</button></li>
    <li><button>&#9723;</button></li>
    <li><button>&#9724;</button></li>
    <li><button>&#10226;</button></li>
    <li><button>&#10095;</button></li>
    <li><button>&#10094;</button></li>
    <li><button>&#10566;</button></li>
    <li><button>&#10565;</button></li>
    <li><button>&#10239;</button></li>
    <li><button></button></li>
    <li>
    </li>
</ul>
<div id="ui-article">

    <span class="volum demoSpan1">
        <span class="volum demoSpan2">
        </span>
    </span>  
</div>