<ul class="toolbar">
    <li class="tree_show" style="display:none;" onclick="___module_id.on_tree_show_click(this)">
        <i class="fa fa-bars"></i>
    </li>
    <li title="User"><i class="fa fa-user-circle"></i></li>
    <li title="Edit"><i class="fa fa-pencil-alt"></i></li>
    <li title="Reading"><i class="fa fa-headphones"></i></li>
    <li title="Grammar"><i class="fa fa-book"></i></li>
    <li title="Bookmark"><i class="fa fa-bookmark"></i></li>
    <li title="Dictionary"><i class="fa fa-search"></i></li>

    <li class="float-right box-search">
        <input type="text" id="___module_id_text_search" onkeypress="if (event.keyCode == 13) { ___module_id.on_search_click(this.value); }" ondblclick="this.value = '';" />
        <button onclick="___module_id.on_search_click(document.getElementById('___module_id_text_search').value);">&#9906;</button>
    </li>
    <li class="float-right" title="Setting"><i class="fa fa-wrench"></i></li>
    <li class="float-right" title="Next"><i class="fa fa-chevron-right"></i></li>
    <li class="float-right" title="Play"><i class="fa fa-play"></i></li>
    <li class="float-right" title="Prev"><i class="fa fa-chevron-left"></i></li>
    <li class="float-right" title="Repeat"><i class="fa fa-redo"></i></li>
    <li class="float-right" title="Rate Up"><i class="fa fa-sort-numeric-up"></i></li>
    <li class="float-right" title="Rate Down"><i class="fa fa-sort-numeric-down"></i></li>
    <!--<li class="float-right" title="Volume Up"><i class="fa fa-volume-up"></i></li>
    <li class="float-right" title="Volume Down"><i class="fa fa-volume-down"></i></li>-->
</ul>
<div id="ui-article">
</div>