#___module_id { 
}



    #___module_id details {
        cursor: pointer;
    }

        #___module_id details div {
            padding-left: 16px;
            color: #111;
            font-weight: normal;
        }


        #___module_id details[open] summary {
            color: orange;
            font-weight: bold;
            font-size: 15px;
        }

        #___module_id details:not([open]) summary,
        #___module_id details ul li {
            color: #111;
            font-size: 13px;
            font-weight: normal;
        }

    #___module_id #tree_category {
        position: absolute;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        display: inline-block;
        top: 25px;
        bottom: 0;
    }

        #___module_id #tree_category details ul li {
        }

            #___module_id #tree_category details ul li.dir-empty {
                padding-left: 14px;
                color: #999;
            }

            #___module_id #tree_category details ul li.file:hover,
            #___module_id #tree_category details ul li.file.active {
                color: orange;
                font-weight: bold;
            }

                #___module_id #tree_category details ul li.file.active em {
                    background-color: orange;
                }

            #___module_id #tree_category details ul li.file {
                padding: 0 0 7px 14px;
                color: #111;
                line-height: 18px;
                margin: 0 0 3px 0;
                display: inline-block;
                width: calc(100% - 14px);
                float: left;
            }

                #___module_id #tree_category details ul li.file em {
                    float: left;
                    width: 5px;
                    line-height: 16px;
                    background-color: #acacac;
                    font-size: 17px;
                    height: 5px;
                    border-radius: 50%;
                    margin: 6px 3px 0 0;
                }

                #___module_id #tree_category details ul li.file b {
                    float: left;
                    font-weight: normal;
                    width: calc(100% - 15px);
                }
