<ul class="toolbar">
    <li class="box-search">
        <input type="text" id="___module_id_text_search" onkeypress="if (event.keyCode == 13) { ___module_id.on_search_click(this.value); }" ondblclick="this.value = '';" />
        <button onclick="___module_id.on_search_click(document.getElementById('___module_id_text_search').value);">&#128269;</button> 
    </li>
    <li>
        <button>&#9776;</button>
    </li>
</ul>
<div id="tree_category">
    <details id="tree_data">
        <summary id="tree_node_root" onclick="___module_id.on_node_click(this)">Document</summary>
    </details>
</div>