<ul class="toolbar">
    <li class="float-right" onclick="___module_id.on_tree_hide_click(this)">
        <button class="bg-none border-none">&#9776;</button>
    </li>
    <li class="float-right" title="Remove"><button>&#128465;</button></li>
    <li class="float-right" title="Edit"><button>&#9998;</button></li>
    <li class="float-right" title="Create new"><button>&#10011;</button></li>
</ul>
<div id="tree_category">
    <details id="tree_data">
        <summary id="tree_node_root" onclick="___module_id.on_node_click(this)">Document</summary>
    </details>
</div>